# Data Cleaning 101

In [24]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

root_dir = Path(".").resolve().parent

filename = "llamadas123_julio_2022.csv"
data_dir = "raw"

file_path = os.path.join(root_dir, "data", data_dir, filename)

data = pd.read_csv(file_path, encoding='latin-1', sep=';')

In [25]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [26]:
# Obtener informacion basica de los datos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [29]:
# Eliminar registros duplicados
print('forma inicial', data.shape)
data = data.drop_duplicates()
data.reset_index(inplace=True, drop=True)
print('forma final', data.shape)

forma inicial (13026, 11)
forma final (13026, 11)

In [30]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [39]:
# Tratamiento de valores nulos
# nulo de strings --> SIN_DATO , N/A
# nulo de numeros --> np.nan
# nulo de fechas --> NaT

col = 'UNIDAD'
# data[col].value_counts(dropna=False, normalize=True)
data[col].fillna('SIN_DATO', inplace=True)
data[col].value_counts(dropna=False, normalize=True)

A¤os        0.520574
SIN_DATO    0.475587
Meses       0.002994
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [56]:
fecha = '1985-05-28 00:00:00'
pd.to_datetime(fecha, errors='coerce', format='%Y/%m/%d')

Timestamp('1985-05-28 00:00:00')

In [57]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col] = pd.to_datetime(data[col], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [59]:
col = 'EDAD'
data[col].replace({'SIN_DATO': np.nan}, inplace=True)
data[col]

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [62]:
data[col].unique()

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [63]:
# funciones lambda

def f(x):
    resultado = x**2
    return resultado

x=4
f(x)

16

In [64]:
f = lambda x: x**2

x=4
f(x)

16

In [ ]:
def to_int(x):
    if pd.isna(x) == True:
        return x
    else:
        return int(x)

In [69]:
# str_num = np.nan
str_num = '28'
f = lambda x: x if pd.isna(x) else int(x)

f(str_num)

28

In [73]:
data[col] = data[col].apply(f)

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [75]:
col = 'RECEPCION'
data[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [86]:
# Mas de datetimes
from dateutil.parser import parse
fecha = 'may 29th  2021'
# pd.to_datetime(fecha)
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [101]:
fechas = lambda x: parse(x)

list_fechas = list()
for fecha in data[col]:
    try:
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha, errors='coerce')
    
    list_fechas.append(new_fecha)

data['RECEPCION_Corr'] = list_fechas

In [102]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_Corr
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RECEPCION_Corr                     5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [107]:
# strings

word1 = 'Big Data'
word2 = ' Big Data'

print(word1.strip())
print(word2)

Big Data
 Big Data

In [110]:
word1.replace(' ', '_')

'Big_Data'

In [114]:
print(word1.upper())
print(word1.lower())
print(word1.capitalize())

BIG DATA
big data
Big data

In [119]:
col = 'LOCALIDAD'
data[col].unique()

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [126]:
import re

# txt = 'Los M\xa0rtires'
# txt = 'suba'

def encontrar_patron(patron, txt):
    if re.search(patron, txt):
        new_txt = 'Los Martires'
        return new_txt
    else:
        pass

encontrar_patron("Los.*tires", 'Los M\xa0rtires')

'Los Martires'

In [127]:
encontrar_patron("Los.*tires", 'Usaqu/en')

In [12]:
# Pendiente de explicacion
data[
    data.index.isin(data_no_dup.index) == False
]

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
828,CRU-00281231-22,2022-07-02 20:14:51,12,Barrios Unidos,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,0000-00-00 00:00:00
1067,CRU-00282185-22,2022-07-03 09:59:22,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
1471,CRU-00283540-22,2022-07-04 04:09:13,12,Barrios Unidos,31,A¤os,MASCULINO,Norte,Herido,MEDIA,2022-07-04 05:40:01
1818,CRU-00284606-22,2022-07-05 00:08:08,18,Rafael Uribe Uribe,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Intento de Suicidio,CRITICA,0000-00-00 00:00:00
1962,CRU-00284980-22,2022-07-05 09:02:30,10,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,0000-00-00 00:00:00
2466,CRU-00286910-22,2022-07-06 14:35:54,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
3125,CRU-00289436-22,2022-07-08 09:01:13,10,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,CRITICA,0000-00-00 00:00:00
4740,CRU-00295702-22,2022-07-12 06:31:42,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,0000-00-00 00:00:00
5975,CRU-00300664-22,2022-07-15 08:27:16,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Herido,ALTA,0000-00-00 00:00:00
6055,CRU-00300911-22,2022-07-15 11:22:07,2,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
6930,CRU-00304712-22,2022-07-17 09:44:45,2,Chapinero,23,A¤os,MASCULINO,Norte,Herido,ALTA,0000-00-00 00:00:00
7277,CRU-00305975-22,2022-07-18 01:27:48,10,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Dolor Tor cico,CRITICA,0000-00-00 00:00:00
7341,CRU-00306136-22,2022-07-18 07:14:14,4,San Crist¢bal,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
7790,CRU-00308045-22,2022-07-19 11:02:02,2,Chapinero,30,A¤os,FEMENINO,Norte,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
7796,CRU-00308045-22,2022-07-19 11:02:02,2,Chapinero,31,A¤os,FEMENINO,Norte,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
7802,CRU-00308045-22,2022-07-19 11:02:02,2,Chapinero,37,A¤os,FEMENINO,Norte,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
7803,CRU-00308045-22,2022-07-19 11:02:02,2,Chapinero,47,A¤os,FEMENINO,Norte,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
8175,CRU-00309622-22,2022-07-20 10:34:27,3,Santa Fe,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
8601,CRU-00281370-22,2022-07-21 11:46:35,14,Los M rtires,18,A¤os,FEMENINO,Norte,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
8643,CRU-00311494-22,2022-07-21 14:14:47,18,Rafael Uribe Uribe,15,A¤os,FEMENINO,Sur Occidente,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
8645,CRU-00311494-22,2022-07-21 14:14:47,18,Rafael Uribe Uribe,15,A¤os,FEMENINO,Sur Occidente,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
8646,CRU-00311494-22,2022-07-21 14:14:47,18,Rafael Uribe Uribe,15,A¤os,FEMENINO,Sur Occidente,Intoxicaci¢n,CRITICA,0000-00-00 00:00:00
9351,CRU-00314021-22,2022-07-23 09:49:37,14,Los M rtires,2,A¤os,FEMENINO,Norte,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
10294,CRU-00314020-22,2022-07-25 15:33:01,10,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
10589,CRU-00319063-22,2022-07-26 10:05:54,6,Tunjuelito,17,A¤os,MASCULINO,Sur,Enfermo,MEDIA,0000-00-00 00:00:00
10590,CRU-00319063-22,2022-07-26 10:05:54,6,Tunjuelito,17,A¤os,MASCULINO,Sur,Enfermo,MEDIA,0000-00-00 00:00:00
10635,CRU-00319169-22,2022-07-26 11:54:45,7,Bosa,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,CRITICA,0000-00-00 00:00:00
11853,CRU-00323983-22,2022-07-29 13:26:36,10,Engativ,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,0000-00-00 00:00:00
12854,CRU-00328161-22,2022-07-31 15:48:53,4,San Crist¢bal,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Enfermo,ALTA,0000-00-00 00:00:00